@charset "utf-8";

.about{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .about_outer{
        width: 56vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20vh;

        .about_wrapper{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .about_title{
                width: 80%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                h1{
                    width: 32%;
                    height: auto;

                    #about_r1{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .about_img{
                width: 100%;
                height: 32vh;
                
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .about_info{
                width: 48%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                background-color: #ffffff;
                transform: translateY(-8vh);
                padding: 1.5%;

                .about_name{
                    list-style: none;
                    padding: 0;

                    li{
                        line-height: 1em;
                        font-family: 'M PLUS 1p', sans-serif;
                        font-feature-settings: "palt";
                        color: #000;
                    }
                    .name_ja{
                        font-size: 1.7em;
                        margin-bottom: 3px;
                    }
                    .name_en{
                        font-size: 1em;
                    }
                    ::selection{
                        color: #ffffff;
                        background-color: #707070;
                    }
                }
                .about_content{
                    list-style: none;
                    padding: 0;

                    li{
                        font-size: 0.8em;
                        line-height: 1.3em;
                        font-family: 'M PLUS 1p', sans-serif;
                        font-feature-settings: "palt";
                        color: #000;
                    }
                    ::selection{
                        color: #ffffff;
                        background-color: #707070;
                    }
                }
                .about_sns{
                    list-style: none;
                    padding: 0;

                    li{
                        font-size: 0.8em;
                        line-height: 1.3em;
                        font-family: 'M PLUS 1p', sans-serif;
                        font-feature-settings: "palt";
                        color: #000;
                    }
                    ::selection{
                        color: #ffffff;
                        background-color: #707070;
                    }
                }
            }
        }
    }
}
.service{
    margin-bottom: 20vh;

    .service_outer{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        .service_wrapper{
            width: 56%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .service_title{
                width: 100%;
                height: auto;
                margin-bottom: 2vh;

                h2{
                    font-family: futura-pt, sans-serif;
                    font-weight: 500;
                    font-style: italic;
                    font-feature-settings: "palt";
                    font-size: 2.5em;
                    margin-top: 0;
                    color: #707070;
                    margin-bottom: 2px;
                    padding-left: 20px;
                }
                ::selection{
                    color: #ffffff;
                    background-color: #707070;
                }
                .service_under_line{
                    width: 100%;
                    height: 4px;
                    background-color: #FF96AD;
                }
            }
            .service_contents{
                width: 100%;
                display: flex;
                justify-content: space-between;

                .service_content{
                    width: 14vw;
                    height: auto;

                    img{
                        width: 100%;
                    }
                    h3{
                        font-family: 'M PLUS 1p', sans-serif;
                        font-feature-settings: "palt";
                        font-size: 1em;
                        line-height: 1.3em;
                        color: #000;
                        margin-bottom: 0;
                    }
                    ::selection{
                        color: #ffffff;
                        background-color: #707070;
                    }
                    p{
                        font-family: 'M PLUS 1p', sans-serif;
                        font-feature-settings: "palt";
                        font-size: 0.8em;
                        line-height: 1.2em;
                        color: #000;
                        margin-top: 8px;
                    }
                    ::selection{
                        color: #ffffff;
                        background-color: #707070;
                    }
                }
            }
            .service_link{
                width: 100%;
                height: auto;
                margin-top: 10vh;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;

                a{
                    text-decoration: none;
                    color: #000;
                    font-family: 'M PLUS 1p', sans-serif;
                    font-feature-settings: "palt";
                    font-size: 1em;
                    line-height: 1.5em;
                }
                .service_link_line{
                    width: 18%;
                    height: 4px;
                    background-color: #FF96AD;
                    transition: all 0.5s ease-in-out;
                }
                a:hover + .service_link_line{
                    width: 100%;
                }
            }
        }

    }
}
@media screen and (max-width: 420px){
    .about{

        .about_outer{
            width: 88vw !important;

            .about_wrapper{

                .about_title{

                    h1{
                        width: 90% !important;
                    }
                }
                .about_info{
                    width: 72% !important;
                    padding: 4%;

                    .about_name{

                        li{
                            font-size: 1.2em !important;
                        }
                    }
                    .about_content{

                        li{
                            font-size: 0.8em !important;
                        }
                    }
                    .about_sns{

                        li{
                            font-size: 0.8em !important;
                        }
                    }
                }
            }
        }
    }
    .service{
        
        .service_outer{

            .service_wrapper{
                width: 88% !important;

                
                .service_contents{
                    flex-direction: column;
                    
                    .service_content{
                        width: 88vw;

                        img{
                            height: 20vh;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}