@charset "utf-8";

footer{
    width: 100vw;
    height: 32vh;
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
    padding-top: 8px;

    .footer_outer{
        width: 95%;
        height: 98%;
        display: flex;

        .footer_nav{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;

            ul{
                list-style: none;
                padding: 0;

                li{
                    text-decoration: none;
                    margin-bottom: 1vh;

                    a{
                        font-size: 0.8em;
                        text-decoration: none;
                        font-family: futura-pt, sans-serif;
                        font-weight: 500;
                        font-style: italic;
                        font-feature-settings: "palt";
                        color: #BFBFBF;
                        transition: all 0.3s ease-in-out;
                    }
                    .footer_index:hover{
                        color: #5b5c5c;
                    }
                    .footer_works:hover{
                        color: #8DF0FD;
                    }
                    .footer_about:hover{
                        color: #FF96AD;
                    }
                    .footer_contact:hover{
                        color: #FFB740;
                    }
                }
            }
            .footer_logo{
                width: 60px;
                height: 60px;
                
                a{
                    width: 100%;
                    height: 100%;
                    transition: all 0.3s ease-in-out;

                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                a:hover{
                    opacity: 0.7;
                }
            }
        }
        .footer_sns_wrapper{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            
            ul{
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                li{
                    list-style: none;
                    width: 28px;
                    height: 28px;
                    margin-top: 8px;

                    a{
                        width: 100%;
                        height: 100%;
                        transition: all 0.3s ease-in-out;

                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    a:hover{
                        opacity: 0.7;
                    }
                }
            }
        }
    }
    .copy{

        small{
            font-size: 0.4em;
            font-family: futura-pt, sans-serif;
            font-weight: 500;
            font-style: italic;
            font-feature-settings: "palt";
            color: #BFBFBF;
        }
    }
}