#works_content {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 18vh;
  margin-bottom: 20vh;
}

#works_content .works_content_wrapper {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#works_content .works_content_wrapper img {
  margin-top: 8vh;
  width: 100%;
}

#works_content .works_content_wrapper video {
  margin-top: 8vh;
  width: 100%;
}

#works_content .works_content_wrapper p {
  width: 80%;
  font-size: 2em;
}

#works_content .works_content_wrapper .works_content_explanation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  padding: 0;
}

#works_content .works_content_wrapper .works_content_explanation li {
  font-family: 'M PLUS 1p', sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  font-size: 1em;
  color: #000;
  margin-top: 4px;
  margin-bottom: 0;
  padding-left: 8px;
}

#works_content .works_content_wrapper .works_content_explanation li h2 {
  margin-bottom: 2px;
  font-size: 1.4em !important;
  vertical-align: baseline;
}

#works_content .works_content_wrapper .works_content_explanation li h2 .title_span {
  font-size: 0.7em !important;
}

#works_content .works_content_wrapper .works_content_explanation li a {
  text-decoration: none;
  color: #000;
  width: 20%;
}

#works_content .works_content_wrapper .works_content_explanation li .url_border {
  width: 20%;
  height: 2px;
  background-color: #707070;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#works_content .works_content_wrapper .works_content_explanation li a:hover + .url_border {
  width: 60%;
}

#works_content .works_content_wrapper .works_content_explanation li p {
  font-size: 0.8em;
  margin: 0;
}

#works_content .works_content_wrapper .works_content_explanation .day {
  margin-bottom: 8px;
  margin-bottom: 0;
}

#works_content .works_content_wrapper .works_content_explanation .target {
  margin-bottom: 0;
}

#works_content .works_content_wrapper .works_content_explanation .works {
  margin-top: 0px;
}

#works_content .works_content_wrapper .works_content_explanation .comment {
  margin-top: 16px;
}

#works_content .works_content_wrapper .works_content_explanation ::-moz-selection {
  color: #ffffff;
  background-color: #707070;
}

#works_content .works_content_wrapper .works_content_explanation ::selection {
  color: #ffffff;
  background-color: #707070;
}

#works_content .works_content_wrapper .works_content_explanation .comment {
  margin-bottom: 12px;
}

@media screen and (max-width: 420px) {
  #works_content .works_content_wrapper {
    width: 88% !important;
  }
  #works_content .works_content_wrapper img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 8px;
  }
  #works_content .works_content_wrapper .works_content_explanation li {
    font-size: 0.8em;
  }
  #works_content .works_content_wrapper .works_content_explanation li h2 {
    font-size: 1em;
  }
}
/*# sourceMappingURL=works_content.css.map */